body{
    background-color: #4b4491;
    margin-top: 100px;
}

#container{
    background-color:white;
    width: 80%;
    margin: auto;
    padding: 60px 20px;
    border-left: 5px solid #4fb2d6;
    border-right: 5px solid #4fb2d6;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 50px;
    text-align: center;
    font-weight: 350;
}
#second-container{
    display: flex;
    justify-content: space-between;
    padding: 15px 400px;
}    
#third-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
}
#option-btn{
    background-color: #4fb2d6;
    padding: 10px 100px;
    margin: 20px;
    border-radius: 30px;
    width: 40%;
    text-align: center;
    border: none;
}
#third-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#last-container button{
    padding: 5px 25px;
    margin: 10px 10px;
    border: none;  
}
#previous-btn{
    background-color:  #4fb2d6;
}
#next-btn{
    background-color: seagreen;
}
#quit-btn{
    background-color: red;
}



